<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
<extension
         point="org.eclipse.ui.views">
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelExplorerView"
            icon="icons/folder_brick.png"
            id="org.eclipse.emf.ecp.ui.ModelExplorerView"
            name="%ModelExplorerView">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ModelRepositoriesView"
            icon="icons/repositories.gif"
            id="org.eclipse.emf.ecp.ui.ModelRepositoriesView"
            name="%ModelRepositoryView">
      </view>
      <view
            category="org.eclipse.emf.ecp.ui"
            class="org.eclipse.emf.ecp.ui.views.ECPProvidersView"
            icon="icons/providers.gif"
            id="org.eclipse.emf.ecp.ui.ECPProvidersView"
            name="%ECPProviderView">
      </view>
      <category
            id="org.eclipse.emf.ecp.ui"
            name="ECP Views">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=common">
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelExplorerView">
         <command
               commandId="org.eclipse.emf.ecp.ui.project.createProject"
               icon="icons/checkout_project_old.gif"
               label="%CreateNewProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="org.eclipse.emf.ecp.ui.project.createProject"
                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                     value="true">
               </test>
            </visibleWhen>
         </command>
         <separator
               name="common"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="%OpenClosable"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.project.type"
                  value="open">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecp.ui.definition.projectClosed">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.closable"
               label="%CloseClosable"
               style="push">
            <parameter
                  name="org.eclipse.emf.ecp.project.type"
                  value="close">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="org.eclipse.emf.ecp.ui.definition.projectOpened">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.delete"
               icon="icons/delete.gif"
               label="%DelteProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPContainer">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.delete"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.properties.project"
               label="%ProjectProperties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.properties.project"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.project.filterModelElements"
               icon="icons/sample.gif"
               label="%FilterProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.project.filterModelElements"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
               icon="icons/add.gif"
               label="%NewModelElement"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                     <and>
                        <count
                              value="1">
                        </count>
                        <iterate
                              ifEmpty="false"
                              operator="and">
                           <test
                                 args="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
                                 property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                 value="true">
                           </test>
                           <or>
                              <instanceof
                                    value="org.eclipse.emf.ecore.resource.Resource">
                              </instanceof>
                              <instanceof
                                    value="org.eclipse.emf.ecp.core.ECPProject">
                              </instanceof>
                           </or>
                        </iterate>
                     </and>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
               icon="icons/delete.gif"
               label="Delete Model Element"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="org.eclipse.emf.ecore.EObject">
                     </instanceof>
                     <test
                           args="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
                           property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                           value="true">
                     </test>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.import"
               label="Import Child"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecore.EObject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.workbench.import"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.e3.importRoot"
               label="Import Child"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.e3.importRoot"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </and>
                  </iterate>
                  <count
                        value="1">
                  </count>
               </and>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.export"
               icon="icons/database_go.png"
               label="Export"
               style="push">
               <visibleWhen
                  checkEnabled="false">
                  <and>
                     <iterate>
                        <and>
                           <instanceof
                                 value="org.eclipse.emf.ecore.EObject">
                           </instanceof>
                           <test
                                 args="org.eclipse.emf.ecp.ui.workbench.export"
                                 property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                                 value="true">
                           </test>
                        </and>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </and>
            </visibleWhen>
         </command>
         <separator
               name="org.eclipse.emf.ecp.ui.separatorProvider"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.ecp.ui.ModelExplorerView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.workbench.saveProject"
               icon="icons/database_save.png"
               label="%SaveProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     args="org.eclipse.emf.ecp.ui.workbench.saveProject"
                     property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                     value="true">
               </test>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.emf.ecp.ui.ModelRepositoriesView?after=additions">
         <separator
               name="common"
               visible="true">
         </separator>
         <command
               commandId="org.eclipse.emf.ecp.ui.checkout"
               icon="icons/checkout_project.gif"
               label="%CheckoutProject"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="or">
                     <and>
                        <instanceof
                              value="org.eclipse.emf.ecp.core.util.ECPCheckoutSource">
                        </instanceof>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="org.eclipse.emf.ecp.ui.properties.repository"
               label="%RepositoryProperties"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPRepository">
                        </instanceof>
                        <test
                              args="org.eclipse.emf.ecp.ui.properties.repository"
                              property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                              value="true">
                        </test>
                     </iterate>
                  </and>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.emf.ecp.ui.ModelRepositoriesView?after=additions">
         <command
               commandId="org.eclipse.emf.ecp.ui.addrepository"
               icon="icons/add.gif"
               label="Añadir Repositorio"
               style="push"
               tooltip="Añadir Repositorio">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard"
            name="New Model Element">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.project.filterModelElements"
            name="Filter Modelelements">
      </command>
      <!--
      <command
            defaultHandler="org.eclipse.emf.ecp.ui.commands.CreateContainmentHandler"
            description="This generic command is used by dynamic commands to create containment MEs"
            id="org.eclipse.emf.ecp.navigator.createContaiment"
            name="New Containment ME">
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eClassParameter"
               name="eClassParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eClassType">
         </commandParameter>
         <commandParameter
               id="org.eclipse.emf.ecp.navigator.eReferenceParameter"
               name="eReferenceParameter"
               optional="true"
               typeId="org.eclipse.emf.ecp.navigator.eReferenceType">
         </commandParameter>
  
      </command>
      -->
      <command
            id="org.eclipse.emf.ecp.ui.closable"
            name="Close/Open">
         <commandParameter
               id="org.eclipse.emf.ecp.project.type"
               name="ECPCloseable Type"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.project.createProject"
            name="Create new project">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.delete"
            name="Delete">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.checkout"
            name="Checkout">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.addrepository"
            name="Add Repository">
      </command>
      <command
            description="Save Project"
            id="org.eclipse.emf.ecp.ui.workbench.saveProject"
            name="Save Project">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.deleteModelElement"
            name="Delete Model Element">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.import"
            name="Import Child">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.workbench.export"
            name="Export model">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.properties.project"
            name="Project Properties">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.properties.repository"
            name="Repository Properties">
      </command>
      <command
            id="org.eclipse.emf.ecp.ui.e3.importRoot"
            name="Import Child">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.emf.ecp.ui.commands.DeleteHandler"
            commandId="org.eclipse.emf.ecp.ui.delete">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <iterate
                     ifEmpty="false"
                     operator="or">
                  <test
                        property="org.eclipse.emf.ecp.core.container.canDelete"
                        value="true">
                  </test>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CreateProjectHandler"
            commandId="org.eclipse.emf.ecp.ui.project.createProject">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.CloseableHandler"
            commandId="org.eclipse.emf.ecp.ui.closable">
      </handler>
      <!--handler
            class="org.eclipse.emf.ecp.ui.commands.CheckoutHandler"
            commandId="org.eclipse.emf.ecp.ui.checkout">
      </handler-->
      <handler
            class="org.eclipse.emf.ecp.ui.commands.SaveProjectHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.saveProject">
         <enabledWhen>
            <with
                  variable="org.eclipse.emf.ecp.ui.e3.workbench.menu.currentProjectHasUnsavedChanges">
               <equals
                     value="true">
               </equals>
            </with></enabledWhen>
      </handler>
      
      
      
      
      
      
      <handler
            class="org.eclipse.emf.ecp.ui.commands.NewModelElementWizardHandler"
            commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard">
         <activeWhen>
             <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                     </iterate>
                  </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecp.core.ECPProject">
                        </instanceof>
                        <test
                              property="org.eclipse.emf.ecp.core.project.open"
                              value="true">
                        </test>
                     </iterate>
                  </and>
            </with>
         </enabledWhen> 
      </handler>
      
       <handler
            class="org.eclipse.emf.ecp.ui.commands.NewModelElementOnResourceWizardHandler"
            commandId="org.eclipse.emf.ecp.ui.wizards.newModelElementWizard">
         <activeWhen>
         	<with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecore.resource.Resource">
                        </instanceof>
                     </iterate>
                  </and>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
                  <and>
                     <count
                           value="1">
                     </count>
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.emf.ecore.resource.Resource">
                        </instanceof>
                     </iterate>
                  </and>
            </with>
         </enabledWhen> 
      </handler>
      
      
      
      
      <handler
            class="org.eclipse.emf.ecp.ui.commands.DeleteModelElementHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.deleteModelElement">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ImportHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.import">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ExportHandler"
            commandId="org.eclipse.emf.ecp.ui.workbench.export">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ProjectFilterdPackagesHandler"
            commandId="org.eclipse.emf.ecp.ui.project.filterModelElements">
         <enabledWhen>
            <with
                  variable="activeMenuSelection">
               <and>
                  <count
                        value="1">
                  </count>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <test
                           property="org.eclipse.emf.ecp.core.project.open"
                           value="true">
                     </test>
                  </iterate>
               </and>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ProjectPropertiesHandler"
            commandId="org.eclipse.emf.ecp.ui.properties.project">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.RepositoryPropertiesHandler"
            commandId="org.eclipse.emf.ecp.ui.properties.repository">
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.AddRepositoryHandler"
            commandId="org.eclipse.emf.ecp.ui.addrepository">
         <enabledWhen>
            <test
                  property="org.eclipse.emf.ecp.ui.repository.canAddRepositories"
                  value="true">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.emf.ecp.ui.commands.ImportRootHandler"
            commandId="org.eclipse.emf.ecp.ui.e3.importRoot">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.eclipse.emf.ecp.ui.tester.CanAddRepositoriesTester"
            id="org.eclipse.emf.ecp.ui.repository.tester"
            namespace="org.eclipse.emf.ecp.ui.repository"
            properties="canAddRepositories"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="org.eclipse.emf.ecp.ui.definition.projectClosed">
         <with
               variable="selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.closed"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.closed"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </iterate>
            </or>
         </with>
      </definition>
      <definition
            id="org.eclipse.emf.ecp.ui.definition.projectOpened">
         <with
               variable="selection">
            <or>
               <and>
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.open"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </and>
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <instanceof
                        value="org.eclipse.emf.ecp.core.ECPProject">
                  </instanceof>
                  <test
                        property="org.eclipse.emf.ecp.core.project.open"
                        value="true">
                  </test>
                  <test
                        args="org.eclipse.emf.ecp.ui.closable"
                        property="org.eclipse.emf.ecp.ui.e3.workbench.menu.enablement"
                        value="true">
                  </test>
               </iterate>
            </or>
         </with>
      </definition>
   </extension>
</plugin>
